{
  "presets": [
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "cacheDirectory": true,
        "shippedProposals": true,
        "useBuiltIns": "usage",
        "targets": {
          "node": true,
          "browsers": ["last 2 versions"]
        }
      }
    ],
    [
      "@babel/preset-stage-0",
      {
        "useBuiltIns": true,
        "decoratorsLegacy": true
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true,
        "polyfill": true
      }
    ],
    "lodash",
    "@babel/plugin-proposal-optional-chaining"
  ]
}
