
# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

#tests
tests
coverage

#build tools
.travis.yml
.jenkins.yml
.codeclimate.yml

#linters
.jscsrc
.jshintrc
.eslintrc*

#editor settings
.idea
.editorconfig
.junk

.prettierrc
yarn-error.log
testimport.js 
quick-test.js 
.watchmanconfig
